* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: #443737;
}

@media screen and (min-width: 768px) {
  main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 90%;
    height: 95%;
    display: flex;
    box-shadow: 1px 2px 30px 3px rgba(0, 0, 0, 0.75);
  }
  
  .topnav {
    display: none;
  }

  .sidebar {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #272121;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    background-image: url(img/logo.png);
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #656262;
    margin-top: 70px;
  }
  
  .nav span {
    margin-bottom: 15px;
    letter-spacing: 3px;
  }
  
  .active {
    color: white;
  }
  
  .content {
    width: 40%;
    display: flex;
    flex-direction: column;
    background-image: url(img/content-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .header {
    margin: 10px 0px 20px 0px;
    width: 90%;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: #e7e7da;
  }

  .logo-black {
    width: 170px;
  }
  
  .header span {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 40px;
  }
  
  .lined {
    border-bottom: 1px solid #bd6c33;
  }
  
  .images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .img {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: transparent;
  }
  
  .footer-box {
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;
    color: white;
  }
  
  
  .content-info {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: -10px -1px 28px -14px rgba(0, 0, 0, 0.75);
  }
  
  .close {
    width: 90%;
    margin: 15px;
    text-align: right;
  }
  
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
  }
  
  .desc {
    width: 90%;
    margin: 10px;
  }

  .desc h2, .desc h3 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
  }
  
  .desc p {
    font-family: 'Courgette', cursive;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
  .btn {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
  }
  
  .btn button {
    background: transparent;
    color: black;
    width: 100px;
    outline: none;
    border: 1px solid black;
    margin-left: 40px;
  }
  
  .btn span {
    font-size: 18px;
    margin-right: 5px;
  }
}



/* Mobile Responsive */

@media screen and (max-width: 768px) {

  /* Root Wrapper */
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 90%;
    height: 95%;
    display: flex;
    box-shadow: 1px 2px 30px 3px rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* Top Navigtaion */
  .sidebar {
    display: none;
  }

  .logo-black {
    display: none;
  }

  .topnav {
    display: flex;
    flex-direction: column;
  }

  .topnav-wrap {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
  }

  .topnav-wrap a {
    display: flex;
    width: 85%;
    padding: 7px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
  }

  .topnav-logo {
    width: 70%;
    margin-left: 40px;
  }

  .topnav-wrap span {
    width: 15%;
    padding: 7px;
    font-size: 20px;
    text-align: center;
  }

  .topnav-wrap span:before {
    content: '\2630';
  }

  .topnav-wrap span:hover {
    background: #443737;
    color: white;
  }

  .topnav-menu {
    display: none;
    flex-direction: column;
  }

  .topnav-menu a {
    text-decoration: none;
    color: #656262;
    padding: 5px;
    letter-spacing: 2px;
    font-size: 14px;
  }

  .topnav-menu a:hover {
    background-color: white;
    color: black;
  }

  a.active {
    color: white;
  }
  
  /* Content */
  .content {
    display: flex;
    width: 100% !important;
    flex-direction: column;
    background-image: url(img/content-bg-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .header {
    font-family: 'Lobster', cursive;
    margin: 10px 0px 20px 0px;
    width: 90%;
    display: flex;
    justify-content: center;
  }
  
  .header span {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 40px;
  }
  
  .lined {
    border-bottom: 1px solid black;
  }
  
  .images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .img {
    background-color: white;
    margin: 10px;
    width: 200px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: white;
  }
  
  .footer-box {
    width: 70%;
    display: flex;
    justify-content: center;
    font-size: 13px;
    text-align: center;
  }
  
  .content-info {
    display: none;
  }

  .kontak a{
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  /* .close {
    width: 90%;
    margin: 15px;
    text-align: right;
  }
  
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
  }
  
  .desc {
    width: 90%;
    margin: 10px;
  }
  
  .desc p {
    font-size: 14px;
  } */
  
  .content-info {
    width: 100%;
    height: 94vh;
    display: none;
    flex-direction: column;
    background-color: white;
    box-shadow: -10px -1px 28px -14px rgba(0, 0, 0, 0.75);
  }
  
  .close {
    width: 90%;
    margin: 15px;
    text-align: right;
  }
  
  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
  }
  
  .desc {
    width: 90%;
    margin: 10px;
  }

  .desc h2, .desc h3 {
    font-family: 'Lobster', cursive;
    font-weight: normal;
  }
  
  .desc p {
    font-family: 'Courgette', cursive;
    font-size: 14px;
    font-weight: lighter;
    margin-bottom: 10px;
  }
  
}
